html, body {
    height: 100%;
    width: 100%;
}
svg{
    text-align: center;
}
#left_panel {
    width: 169px;
    height: 100%;
    background: rgba(222, 222, 222, 1);
    display: inline-block;
}
#right_panel{
    height: 100%;
    display: inline-block;
    width: calc(100% - 175px);
    overflow-y: auto;
}

.left_menu_item{
    cursor: pointer;
    text-transform: uppercase;
}
.left_menu_item:hover{
    background-color: lightgray;
}
.active_left_menu_item{
    background-color: #28a745!important;
    color: white;
}

/* keyboard layout */
.key_btn{
    width: 50px;
    height: 40px;
    padding: 5px;
    margin: 2px;
    background-color: #333;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.slice,.key_btn{
    cursor: pointer;
}
.slice text{
    cursor: pointer;
}

.slice{

}

.slice path:hover{
    fill:white;
    color: black
}

.abs_bottom{
bottom: 0px;
position: absolute
}